#!/bin/sh

./configure \
--sbin-path=/usr/sbin/nginx \
--conf-path=/etc/AikoR-Nginx/config/nginx.conf \
--pid-path=/etc/AikoR-Nginx/logs/nginx.pid \
--lock-path=/etc/AikoR-Nginx/logs/nginx.lock \
--error-log-path=/etc/AikoR-Nginx/logs/error.log \
--http-log-path=/etc/AikoR-Nginx/logs/access.log \
--with-http_ssl_module \
--with-http_stub_status_module \
--with-http_realip_module \
--with-http_addition_module \
--with-http_sub_module \
--with-http_dav_module \
--with-http_flv_module \
--with-http_mp4_module \
